:root {
  --color-background: #FFD2D2;
  --color-card: #4C5BCC;
  --color-shadow: #DA86B7;
  --color-button: #FDD314;

  --animation: font-thickness ease-in-out 3s infinite alternate;

}

@supports (font-tech(color-COLRv1)) {
  #number {
    font-family: "Nabla", system-ui;
  }

  @keyframes font-thickness {
    from {
      scale: 1;
      font-variation-settings:
        "EDPT" 20,
        "EHLT" 7;
    }
  
    to {
      scale: 0.6;
      font-variation-settings:
        "EDPT" 200,
        "EHLT" 0;
    }
  }

  @keyframes font-thickness-buy-new-card {
    from {
      scale: 1;
      font-variation-settings:
        "EDPT" 190,
        "EHLT" 1;
    }
  
    to {
      scale: 0.9;
  
      font-variation-settings:
        "EDPT" 200,
        "EHLT" 1;
    }
  }
}

@supports not (font-tech(color-COLRv1)) {
  #number {
    font-family: "Ojuju", sans-serif;
  }

  @keyframes font-thickness {
    from {
      color: #FDD314;
      scale: 1;
      font-weight: 200;
    }
  
    to {
      color: #DA86B7;
      scale: 0.6;
      font-weight: 800;
    }
  }

  @keyframes font-thickness-buy-new-card {
    from {
      color: #FDD314;
      scale: 1;
      font-weight: 600;
    }
  
    to {
      color: #DA86B7;
      scale: 0.8;
      font-weight: 800;
    }
  }
}

/* @keyframes font-thickness {
  from {
    scale: 1;
    font-variation-settings:
      "EDPT" 20,
      "EHLT" 7;
  }

  to {
    scale: 0.6;
    font-variation-settings:
      "EDPT" 200,
      "EHLT" 0;
  }
}

@keyframes font-thickness-buy-new-card {
  from {
    scale: 1;
    font-variation-settings:
      "EDPT" 190,
      "EHLT" 1;
  }

  to {
    scale: 0.9;

    font-variation-settings:
      "EDPT" 200,
      "EHLT" 1;
  }
} */

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--color-background);
  padding: 2rem;
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh; /* Dynamic viewport height for mobile */
  max-height: 100vh;
  max-height: 100dvh;
  overflow: hidden;
  box-sizing: border-box; /* Include padding in height calculation */
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-image: url('./cup-illustration.png');
  background-color: var(--color-card);
  background-position: center;
  background-repeat: repeat;
  background-size: 360px;
  box-shadow: -12px -12px 0 0 var(--color-shadow);
  height: 100%;
  margin: 0;
  border-radius: 1rem;
  padding: 2rem;
  padding-block-start: 3rem;
  max-width: 500px;
  margin-inline: auto;
}

/* @supports (font-tech(color-COLRv1)) {
  #number {
    font-family: "Nabla", system-ui;
  }
}

@supports not (font-tech(color-COLRv1)) {
  #number {
    font-family: "Badeen Display", system-ui;
  }
} */


#number {
  font-size: clamp(8rem, 40vh, 55vh);
  line-height: 1;
  font-optical-sizing: auto;
  font-style: normal;
  margin-block: auto;
  animation: var(--animation);
}


.coffees-taken {
  font-family: "Azeret Mono", system-ui;
  text-transform: uppercase;
  color: white;
  font-optical-sizing: auto;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  line-height: 1;
  font-style: normal;
}

button {
  font-family: "Azeret Mono", system-ui;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  line-height: 1;
  font-style: normal;
  background-color: var(--color-button);
  color: black;
  width: 100%;
  border-radius: 4px;
  padding-block: 1rem;
  margin-top: auto;
  transition: scale 0.1s ease-in-out;

}

button:active {
  scale: 0.99;
}